<!DOCTYPE html>
<html lang="pt-br">
    <body>
        {% if loggin_in == True %}
            <h1>Bem-vindo de volta!</h1>
        {% else %}
            <h1>Faça login para continuar.</h1>
        {% endif %}
        
        {% if idade >= 18 %}
            <h1>Maior de idade.</h1>
        {% else %}
            <h1>Menor de idade.</h1>
        {% endif %}

        {% if role == 'admin' %}
            <h1>Você é um administrador.</h1>
        {% elif role == 'user' %}
            <h1>Você é um usuário.</h1>
        {% else %}
            <h1>Você não tem uma permissão específica.</h1>
        {% endif %}
    </body>
</html>